# <font color='red'>Data Science Academy - Python Fundamentos</font>
# <font color='red'>Capítulo 2</font>

## Variavéis e Operadores

In [1]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [2]:
# Imprimindo o valor da variável 
var_teste

1

In [3]:
# Imprimindo o valor da variável 
print(var_teste)

1

In [4]:
# Não podemos utilizar uma variável que não foi definida. Vejamos o caso e a mensagem de erro.
my_var = 'Data Science'

In [5]:
type(my_var)

str

In [6]:
my_var

'Data Science'

In [7]:
var_teste = 12

In [8]:
var_teste

12

In [9]:
type(var_teste)

int

In [10]:
x = 1

In [11]:
x

1

## Declarações Multiplas

In [12]:
p1, p2, p3 = "Lana","Mila", "Maia"

In [13]:
p1

'Lana'

In [14]:
p2

'Mila'

In [15]:
p3

'Maia'

In [16]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [17]:
fruta1

'Laranja'

In [18]:
fruta2

'Laranja'

In [19]:
fruta3

'Laranja'

## Outros exemplos

In [20]:
x1 = 50

In [21]:
x1

50

## Variáveis artibuídas a outras variáveis e ordem dos operadores

In [22]:
largura = 4

In [23]:
altura = 8

In [24]:
area = largura * altura

In [25]:
area

32

In [26]:
perimetro = 2 * largura + 2 * altura

In [27]:
perimetro

24

In [28]:
# A ordem dos operadores é a mesma seguida na Matemática.
perimetro = 2 * (largura + 2) * altura

In [29]:
perimetro

96

## Operações com variáveis

In [30]:
idade1 = 25

In [31]:
idade2 = 35

In [32]:
idade1 + idade2

60

In [33]:
idade2 - idade1

10

In [34]:
idade2 * idade1

875

In [35]:
idade2 / idade1

1.4

In [36]:
idade2 % idade1

10

## Concatenação de Variáveis

In [4]:
nome = "Enivaldo"

In [5]:
sobrenome = "Queiroz"

In [6]:
fullname = nome + " " + sobrenome

fullname

## Fim

## A repetição com correção até a exaustão leva a perfeição

'Enivaldo Queiroz'